/auth_service/include
/auth_service/bin
/auth_service/lib
/auth_service/lib64
/auth_service/pyvenv.cfg
/gateway_service/include
/gateway_service/bin
/gateway_service/lib
/gateway_service/lib64
/gateway_service/pyvenv.cfg
/converter_service/pyvenv.cfg
/converter_service/include
/converter_service/bin
/converter_service/lib
/converter_service/lib64
/converter_service/pyvenv.cfg
/notification_service/pyvenv.cfg
/notification_service/include
/notification_service/bin
/notification_service/lib
/notification_service/lib64
/notification_service/pyvenv.cfg