/auth_service/include
/auth_service/bin
/auth_service/lib
/auth_service/lib64
/auth_service/pyvenv.cfg
/gateway_service/include
/gateway_service/bin
/gateway_service/lib
/gateway_service/lib64
/gateway_service/pyvenv.cfg